@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&display=swap');
body {
    background-color: lemonchiffon;
    background: url(/img/bckgrnd.jpg);
    background-size: cover;
    margin:0;
}
.bigHeader {
    font-size: 35px;
    background-color: lightpink;
    font-family: 'Courier Prime', monospace;
}
#navBar{
    background-color: aquamarine;
}
#frontendDev{


}

/*navbar link styling*/
nav a {
    font-weight: bold;
    color: lightsalmon;
}

    nav a:hover, nav a:active, nav a:focus {
        text-decoration: none;
    }

nav ul {
    background-color: teal;
    padding: 0;
    border-top: 2px dotted darkgray;
    border-bottom: 2px dotted darkgray;
}

nav li:hover {
    background-color: darkblue;
}
/*nav link structure - makes nav links horizontal*/

nav ul li {
    display: inline-block;
}

    nav ul li a {
        padding: .4em 1em;
        display: block;
    }

/*for Classes.html- 2 collumn layout with 2 coloumns floated*/
/*#cssLeftColumn {
    width: 75%;
    float: left;
    border-right: 1px dashed teal;
    box-sizing: border-box;
}

#cssRightColumn {
    width: 25%;
    float: right;
    box-sizing: border-box;
}*/
/****************************************** classes cards ****************************************************/
div.galleryItem {
    margin: 5px;
    border: 1px solid lightsalmon;
    display: inline-block;
    width: 350px;
}

    div.galleryItem:hover {
        border: 1px solid lightsalmon;
        background-color: red;
    }

    div.galleryItem img {
        width: 100px;
        height: auto;
    }

#imageGallery {
    margin: 0 auto;
    width: 85%;
    text-align: center;
}